
@{
    ViewData["Title"] = "Index";
}
@model BooksViewModel



<h1>Books in our Library</h1>
<table class="table border table-striped">
    <tr>
    <th class="border">Title</th>
    <th class="border">Author</th>
    <th class="border">Publisher</th>
    <th class="border">ISBN NUM</th>
    <th class="border">Category</th>
    <th class="border">Page Count</th>
    <th class="border">Price</th>
    </tr>
    @foreach (Book x in Model.Books)
    {
        <partial name="projectsum" model="x"/>
           
        }
</table>
<footer>
    <div page-model="@Model.PageInfo" page-action="Index"></div>
</footer>