
@{
    ViewData["Title"] = "Index";
}
@model BooksViewModel



<h1>Books</h1>

@foreach (Books x in Model.Books)
    {
        <h3>@x.Title</h3>
        <ul>
            <li>@x.Author</li>
            <li>@x.PageCount</li>
        </ul>
    }

<div page-model="@Model.PageInfo" page-action="Index"></div>