
@{
    ViewData["Title"] = "Index";
}
@model IQueryable<Books>



<h1>Books</h1>

@foreach (Books x in Model)
    {
        <h3>@x.Title</h3>
        <ul>
            <li>@x.Author</li>
            <li>@x.PageCount</li>
        </ul>
    }

<div 
<a asp-action="Index" asp-route-pagenum="1">Next</a>