@page
@model mission_9_CollinYoung.Pages.CheckoutCompleteModel
@{
}

<div class="text-center">
    <h2>Thanks for purhcasing books!</h2>
    <a class="btn btn-dark" asp-controller="Home">Return Home</a>
</div>
